body {
	background-color: black;
	color: green;
	border: 1px solid green;
	padding: 10px;
	font-family: monospace;
}

#chessboard {
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

#controls {
	margin-top: 20px;
}

#player-select {
	margin-right: 10px;
}

.square-55d63 {
	background: #eee;
}

.square-1e1d7 {
	background: #c40;
}

.piece {
	background-image: url("img/chesspieces.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 45px;
	width: 45px;
}

.piece.b {
	background-position: -0px -0px;
}

.piece.w {
	background-position: -45px -0px;
}
